{% extends 'base.html.twig' %}

{% block title %}Nos menus{% endblock %}

{% block body %}
    <div class="container-fluid col-4">
        <div class="row mt-2 mb-3 justify-content-center">
            <div class="col-md text-center">
                <h1 class="m-5 headline">Nos Menus</h1>
                {% for menu in menus %}
                    <h2 class="m-5 fw-bold fst-italic">{{ menu.title }}</h2>
                    {% for formula in menu.formula %}
                        <h4 class="text-body">{{ formula.title }}</h4>
                        <p class="fw-lighter fst-italic">{{ formula.description }}</p>
                        <p class="fw-semibold">{{ formula.price }}€</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
